<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCSS / CSS StyleSheet -->
    <link rel="stylesheet" href="styles/PersonalDetails/style.css">
</head>

<body>
    <div class="my-5 main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 left_div">
                    <h5>Seat Selection (Outbound)</h5>
                    <div class="row border rounded px-md-4">
                        <div class="col-12 col-md-6 py-4">
                            <div class="container text-center border rounded py-4 px-3 bg-white">
                                <!-- <div class="text-end">
                                    <i class="fa-solid fa-plane-up"></i>
                                </div> -->
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="rounded-top-2 px-2 mx-1 reserve_seats">4</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-2 mx-1 reserve_seats">2</p>
                                        <p class="rounded-top-2 px-2 mx-1 reserve_seats">1</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-2 mx-1 reserve_seats">8</p>
                                        <p class="rounded-top-2 px-2 mx-1 reserve_seats">7</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-2 mx-1 woman_seats">6</p>
                                        <p class="rounded-top-2 px-2 mx-1 reserve_seats">5</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 reserve_seats">12</p>
                                        <p class="rounded-top-2 px-1 mx-1 reserve_seats">11</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 reserve_seats">10</p>
                                        <p class="rounded-top-2 px-2 mx-1 reserve_seats">9</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">16</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">15</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">14</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">13</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">20</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">19</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">18</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">17</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 reserve_seats">24</p>
                                        <p class="rounded-top-2 px-1 mx-1 reserve_seats">23</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">22</p>
                                        <p class="rounded-top-2 px-1 mx-1 reserve_seats">21</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">28</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">27</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">26</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">25</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">32</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">31</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="rounded-top-2 px-1 mx-1 seats">30</p>
                                        <p class="rounded-top-2 px-1 mx-1 seats">29</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <!-- <div class="d-flex"> -->
                                    <p class="rounded-top-2 px-1 mx-1 reserve_seats">37</p>
                                    <p class="rounded-top-2 px-1 mx-1 reserve_seats">36</p>
                                    <p class="rounded-top-2 px-1 mx-1 woman_seats">35</p>
                                    <!-- </div> -->
                                    <!-- <div class="d-flex"> -->
                                    <p class="rounded-top-2 px-1 mx-1 reserve_seats">34</p>
                                    <p class="rounded-top-2 px-1 mx-1 reserve_seats">33</p>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="border rounded my-4 p-3">
                                <h6>Seat Status</h6>
                                <div class="">
                                    <div class="row">
                                        <div class="d-flex col">
                                            <p class="rounded-top border seats_detail woman_seats"></p>
                                            <p class="text_size_sm mx-1">Booked by Females</p>
                                        </div>
                                        <div class="d-flex col">
                                            <p class="rounded-top border seats_detail reserve_seats"></p>
                                            <p class="text_size_sm mx-1">Booked by Males</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="d-flex col">
                                            <p class="rounded-top border seats_detail seats"></p>
                                            <p class="text_size_sm mx-1">Seats Available</p>
                                        </div>
                                        <div class="d-flex col">
                                            <p class="rounded-top border seats_detail bg-warning"></p>
                                            <p class="text_size_sm mx-1">Seat Selected</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border rounded p-3">
                                <h6>Booking Details</h6>
                                <p class="text_size">Your selected seats will appear here:</p>
                                <div class="text-center">
                                    <span class="px-2 mx-2 border border-warning rounded-top"></span>
                                    <span class="px-2 mx-2 border border-warning rounded-top"></span>
                                    <span class="px-2 mx-2 border border-warning rounded-top"></span>
                                    <span class="px-2 mx-2 border border-warning rounded-top"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-3 right_div pt-5">
                    <div class="py-3 border rounded px-3 right_sub">
                        <div class="">
                            <strong>Bus</strong>
                            <p class="text_size">LHE - MTN</p>
                        </div>
                        <hr class="m-0">
                        <div class="m-0 p-0 pt-1">
                            <strong>Subtotal</strong>
                            <div class="d-flex justify-content-between">
                                <p class="text_size">Outbound</p>
                                <p class="text_size">Rs 0</p>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="d-flex justify-content-between pt-1">
                            <strong>Total</strong>
                            <p class="text_size">Rs 0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 border rounded my-4 bg-white pt-3 pb-5 px-4">
                    <h5>Passenger Details</h5>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Mr.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Mrs.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Miss.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="fullName">Full Name</label><br>
                            <input class="form-control" type="text" name="fullName" id="fullName">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="cnic">CNIC</label><br>
                            <input class="form-control" type="number" name="cnic" id="cnic">
                        </div>
                        <div class="form-check form-switch my-1 ms-2">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Save Details</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 w-100">
                        <label for="nickName">Nickname</label>
                        <input class="form-control w-100" type="text" name="nickName" id="nickName">
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-12 col-md-8 border rounded my-4 bg-white pt-3 px-4">
                    <h5>Contact Details</h5>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="fullName">Full Name</label><br>
                            <input class="form-control" type="text" name="fullName" id="fullName">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="cnic">CNIC</label><br>
                            <input class="form-control" type="number" name="cnic" id="cnic">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 w-100">
                        <button class="btn btn-primary btn-sm my-3 w-100">Next</button>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</body>

</html>