$primary: #0A509B;


.hero_theme_clr {
    color: $primary;
}

.text_size {
    font-size: smaller;
}

hr {
    border: 1px solid;
}

.tabs {
    background-color: $primary;
}

.hero_hover {
    color: white;
    cursor: pointer;
}

.hero_hover:hover {
    background-color: white;
    color: $primary;
}

.text_size_sm {
    font-size: x-small;
}

.text_size_sm:hover {
    color: white;
    cursor: pointer;
    background-color: $primary;
}

input {
    border: 1px solid $primary;
    border-radius: 3px;
    // min-width: 100%;
}

input:focus {
    outline: 1.5px solid $primary;
}


input[type="tel"] {
    border: 1px solid $primary;
    border-radius: 3px;
}

input[type="tel"]:focus {
    border: 0px;
}

.i {
    position: absolute;
    padding-top: 6px;
    padding-left: 4px;
    color: $primary;
}

.search_btn{
    background-color: $primary;
    color: white;
}

.travel_trend{
    background-color: #0a509b44;
    border: 1.5px solid $primary;
    padding: 1px 4px;
}

.trendSear{
    white-space: nowrap;
}

// .hero{
//     min-height: 80vh;
// }